
/* Estoque */
#estoque{
    margin: 200px auto 0px auto;
    width: 740px;
}

.texto{
    display: flex;
    justify-content: space-between;
}

.texto > h2{
    width: 230px;
}

.texto > p{
    width: 400px;
    font-size: 0.9em;
    padding: 5px;
}

#guarda{
    display: flex;
    width: 740px;
     margin: auto;
     justify-content: space-around;
}

#guarda a{
    text-decoration: none;
    color: black;
}

/* #guarda a:hover{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.11);
} */


.exp-produto{
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: end;

}

#oculos{
    background: var(--cor-base) url(../imagens/oculos-baixo.png) center center no-repeat scroll;
    background-size: cover;
    width: 260px;
    height: 170px;
}

#prancha{
    background: var(--cor-base) url(../imagens/prancha-baixo.png) center center no-repeat scroll;
    background-size: cover;
    margin-top: 30px;
    width: 260px;
    height: 264px;
}

.preço{
    font-weight: bold;
}

#garrafa{
    background: var(--cor-base) url(../imagens/garrafa-baixo.png) center center no-repeat scroll;
    align-self: center;
    width: 408px;
    height: 408px;
}

#estoque > .oferta{
    width: 130px;
    margin-top: 60px;
    text-align: center;
}

/* Footer */
footer {
    background-color: #1B1A1F;
}

#final{
    height: 400px; 
}

#redes{
    padding: 20px;
}

#redes > form , #redes > #contato {
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
}

form #e-mail {
    background-color: #313036;
    padding: 3px;
    border-radius: 5px;
}
 
form label {
    display: none;
}

form input {
    background-color: #313036;
    color: rgb(107, 107, 107);
    border: none;
    font-size: 1em;
    border-radius: 5px;
}

form input[type=submit]:focus-within {
    
}

#contato img {
    width: 40px;
    margin: 5px;
}

#eu p {
    background-color: black;
    color: white;
    text-align: center;
}

#eu a {
    color: white;
}

#eu a:hover {
    text-decoration: underline;
}