
:root{
    --cor-base: #eb4c56;
    --cor-secundaria: #f9f9f9;
    --cor-clara: #acacac;
}

/* Estoque */

#estoque{
    margin-top: 70px;
    max-width: 500px;
    margin: 70px auto 0px auto;
}

 #estoque #objeto {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
}

#estoque #oculos {
    width: 200px;
    height: 140px;
    border-radius: 8px;
    background: var(--cor-secundaria) url(../imagens/oculos-baixo.png) center no-repeat;
    background-size: cover;
}

#estoque #prancha {
    width: 200px;
    height: 203px;
    background: var(--cor-secundaria) url(../imagens/prancha-baixo.png) center no-repeat;
    background-size: cover;
}

#estoque #garrafa {
    width: 200px;
    height: 230px;
    border-radius: 8px;
    background: var(--cor-secundaria) url(../imagens/garrafa-baixo.png) center no-repeat;
    background-size: cover;   
}

#guarda a {
    text-decoration: none;
    color: #000000;
}

#guarda a:hover{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
}

div.exp-produto .preço {
    font-weight: bold;
}

div.exp-produto {
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: .9em;
}

#estoque .oferta {
    width: 130px;
    margin-top: 20px;
    text-align: center;
}

/* Footer */
footer {
    background-color: #1B1A1F;
    padding-top: 20px;
}

#redes {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#redes > form , #redes > #contato {
    width: 300px;
    display: flex;
    justify-content: center;
}

form #e-mail {
    background-color: #313036;
    padding: 3px;
    border-radius: 5px;
}
 
form label {
    display: none;
}

form input {
    background-color: #313036;
    color: rgb(107, 107, 107);
    border: none;
    font-size: 1em;
    border-radius: 5px;
    padding: 3px;
}

form input[type=submit]:hover {
    cursor: pointer;
    background-color: #46454d;
}

#contato img {
    width: 40px;
    margin: 5px;
}

#contato img:hover {
    background-color: #313036;
    border-radius: 100%;
}

#lista-link {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

#lista-link .links {
    max-width: 151px;
}

#lista-link a, #lista-link h2 {
    text-decoration: none;
    color: white;
}

#lista-link ul {
    list-style-type: none;
}

#eu p {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

#eu a {
    color: white;
}

#eu a:hover {
    text-decoration: underline;
}